<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M158_SMPD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <M158_SMPD.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>192.168.2.88</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>access</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>remote</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>remote</value>
            </setting>
        </M158_SMPD.Properties.Settings>
    </userSettings>
</configuration>